$black: #000;
$grey: #222831;
$white: #fff;
$red: #ff0000;
$font_family: "Oswald", sans-serif;

@font-face {
  font-family: Oswald;
  src: url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
}
