$black: #000;
$grey: #222831;
$white: #f2f2f2;
$orange: #ff4d17;
$font_family: "Oswald", sans-serif;

@font-face {
  font-family: Oswald;
  src: url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
}
