@import "./variables";

.contact-form {
  width: 30vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: $font_family;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 40%;
    margin: 0.5vw;
    border-radius: 20px;

    span {
      margin: 1vw;
      font-size: 3em;
      color: $white;
    }

    input {
      width: 10vw;
      height: 5vh;
      border-radius: 20px;
      font-size: 1vw;
    }

    textarea {
      width: 25vw;
      height: 10vh;
      border-radius: 20px;
      font-size: 1vw;
    }

    .error {
      color: $primary;
      margin: 0;
      font-size: 1vw;
    }
  }

  .break {
    display: flex;
    flex-basis: 100%;
    height: 0;
  }

  button {
    opacity: 0;
    display: flex;
    border-radius: 20px;
    font-size: 1.5vw;
    border: 0;
    padding: 0.5vw;

    &:hover {
      background: $primary;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .contact-form {
    width: 70vw !important;
    height: 30vh !important;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%) rotate(90deg);

    span {
      margin: 1vw;
      font-size: 8vw !important;
    }

    input {
      width: 20vw !important;
      height: 3vh !important;
      font-size: 3vw !important;
    }

    textarea {
      width: 30vw !important;
      height: 5vh !important;
      font-size: 2vw !important;
    }

    button {
      font-size: 3vw !important;
      padding: 2vw !important;
    }

    .error {
      font-size: 3vw !important;
    }
  }
}
