@import "./variables";

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .first-part {
    display: inline;
    position: absolute;
    top: 30vh;
    left: 10vw;
    font-family: $font_family;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: $black;
  }

  .second-part {
    position: absolute;
    bottom: 30vh;
    right: 10vw;
    font-family: $font_family;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: $orange;
  }
}
