@import "./variables";

.full-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  margin: 2vw;
  font-family: $font_family;
  font-weight: 400;
  font-size: 3vw;
  color: $white;
  text-decoration: none;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

ul {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    z-index: 1;

    a {
      display: block;
      margin: 2vw;
      color: $white;
      text-align: center;
      padding: 0 30px 0 30px;
      text-decoration: none;
      font-family: $font_family;
      font-style: normal;
      font-weight: 400;
      font-size: 2vw;
      color: $white;

      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }
}
