@import "./variables";

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    display: flex;
    align-items: center;

    .logo {
      width: 10vw;
      height: 10vh;
      stroke: $orange;
      stroke-width: 15;
      stroke-linejoin: miter;
      stroke-linecap: square;
    }

    .full-name {
      font-family: $font_family;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      color: $white;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li a {
      display: block;
      color: $white;
      text-align: center;
      padding: 0 30px 0 30px;
      text-decoration: none;
      font-family: $font_family;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 53px;
      color: $white;
    }
  }
}
