@import "./variables";

.navbar-container {
  .logo-container {
    display:flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    margin: 2vw;

    .logo {
      z-index:1;
      width: 10vw;
      height: 10vh;
      overflow: visible;
      stroke: $primary;
      stroke-width: 10;
      stroke-linejoin: miter;
      stroke-linecap: square;
    }

    .full-name {
      font-family: $font_family;
      font-weight: 400;
      font-size: 3vw;
      color: $white;
      text-decoration: none;
      z-index: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    width: 50vw;
    height: 10vh;
    top: 0;
    right: 0;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      z-index: 1;

      a {
        display: block;
        color: $white;
        text-align: center;
        text-decoration: none;
        font-family: $font_family;
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        color: $white;

        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }

    img {
      z-index: 1;
      width: 6vw;
      height: 8vh;
      filter: grayscale(100%);

      &:hover {
        cursor: pointer;
      }
    }
  }
}
