@import "./variables";

p,
a {
  color: $white;
  font-size: 2rem;
}

p {
  white-space: nowrap;
}

a:hover {
  color: $primary;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .links {
    position: absolute;
    top: -45vh;
    left: -10vw;
    transform: rotate(90deg);

    p, a{
      font-size: 1rem;
    }
  }
}
