@import "./variables";

p,
a {
  color: $white;
  font-size: 2vw;
}

p {
  white-space: nowrap;
}

a:hover {
  color: $primary;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  p {
    position: absolute;
    top: -48vh;
    left: -10vw;
    transform: rotate(90deg);
    font-size: 3vw;
  }
}
