@import "./variables";

a {
  color: $white;
  font-size: 2vw;

  &:hover {
    color: $primary;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  a {
    position: absolute;
    top: -48vh;
    left: -10vw;
    transform: rotate(90deg);
    font-size: 3vw;
  }
}
